In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('Bandhan_ELSS_Tax_Saver_Fund.csv')
df.head()

,index,date,open,high,low,close,adjclose,volume
0,0,2019-06-10,61.189999,61.189999,61.189999,61.189999,61.189999,0.0
1,1,2019-06-11,61.480000,61.480000,61.480000,61.480000,61.480000,0.0
2,2,2019-06-12,61.189999,61.189999,61.189999,61.189999,61.189999,0.0
3,3,2019-06-13,61.119999,61.119999,61.119999,61.119999,61.119999,0.0
4,4,2019-06-14,60.750000,60.750000,60.750000,60.750000,60.750000,0.0

In [2]:
from visualizing_mutual_fund import *
from util import *

In [4]:
from products import *
import pandas as pd
equity_class = fund_list()
main_path = f'D:/PROJECT/Visualizing'
for equity in equity_class:
    path = f'{main_path}/data/{equity}'
    
    for fund_name in equity_class[equity]:
        data = pd.read_csv(f'{path}/{fund_name}.csv')  
        print(data)

      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  33.166000  33.166000  33.166000  \
1              1      1  2018-01-02  33.073002  33.073002  33.073002
2              2      2  2018-01-03  33.170700  33.170700  33.170700
3              3      3  2018-01-04  33.483398  33.483398  33.483398
4              4      4  2018-01-05  33.713902  33.713902  33.713902
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  78.130501  78.130501  78.130501
1578        1578   1584  2024-06-05  80.675598  80.675598  80.675598
1579        1579   1585  2024-06-06  81.587601  81.587601  81.587601
1580        1580   1586  2024-06-07  83.151100  83.151100  83.151100
1581        1581   1587  2024-06-10  83.284103  83.284103  83.284103

          close   adjclose  volume
0     33.166000  33.166000     0.0
1     33.073002  33.073002     0.0
2     33.170700  33.170700     0.0
3     33.483398  33.483398     0.0
4     33.713902  33.713902     0.0
...         ...        ...     ...
1577  78.130501  78.130501     0.0
1578  80.675598  80.675598     0.0
1579  81.587601  81.587601     0.0
1580  83.151100  83.151100     0.0
1581  83.284103  83.284103     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date         open         high          low
0              0      0  2018-01-01   476.130005   476.130005   476.130005  \
1              1      1  2018-01-02   475.475006   475.475006   475.475006
2              2      2  2018-01-03   476.964996   476.964996   476.964996
3              3      3  2018-01-04   481.936005   481.936005   481.936005
4              4      4  2018-01-05   482.962006   482.962006   482.962006
...          ...    ...         ...          ...          ...          ...
1577        1577   1583  2024-06-04  1085.819946  1085.819946  1085.819946
1578        1578   1584  2024-06-05  1122.260986  1122.260986  1122.260986
1579        1579   1585  2024-06-06  1134.578979  1134.578979  1134.578979
1580        1580   1586  2024-06-07  1155.053955  1155.053955  1155.053955
1581        1581   1587  2024-06-10  1155.359985  1155.359985  1155.359985

            close     adjclose  volume
0      476.130005   476.130005     0.0
1      475.475006   475.475006     0.0
2      476.964996   476.964996     0.0
3      481.936005   481.936005     0.0
4      482.962006   482.962006     0.0
...           ...          ...     ...
1577  1085.819946  1085.819946     0.0
1578  1122.260986  1122.260986     0.0
1579  1134.578979  1134.578979     0.0
1580  1155.053955  1155.053955     0.0
1581  1155.359985  1155.359985     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   42.439999   42.439999   42.439999  \
1              1      1  2018-01-02   42.400002   42.400002   42.400002
2              2      2  2018-01-03   42.400002   42.400002   42.400002
3              3      3  2018-01-04   42.630001   42.630001   42.630001
4              4      4  2018-01-05   42.849998   42.849998   42.849998
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  103.620003  103.620003  103.620003
1578        1578   1584  2024-06-05  106.830002  106.830002  106.830002
1579        1579   1585  2024-06-06  107.720001  107.720001  107.720001
1580        1580   1586  2024-06-07  109.709999  109.709999  109.709999
1581        1581   1587  2024-06-10  110.019997  110.019997  110.019997

           close    adjclose  volume
0      42.439999   42.439999     0.0
1      42.400002   42.400002     0.0
2      42.400002   42.400002     0.0
3      42.630001   42.630001     0.0
4      42.849998   42.849998     0.0
...          ...         ...     ...
1577  103.620003  103.620003     0.0
1578  106.830002  106.830002     0.0
1579  107.720001  107.720001     0.0
1580  109.709999  109.709999     0.0
1581  110.019997  110.019997     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   67.461197   67.461197   67.461197  \
1              1      1  2018-01-02   67.497299   67.497299   67.497299
2              2      2  2018-01-03   67.500702   67.500702   67.500702
3              3      3  2018-01-04   67.813004   67.813004   67.813004
4              4      4  2018-01-05   68.086197   68.086197   68.086197
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  161.638504  161.638504  161.638504
1578        1578   1584  2024-06-05  167.117599  167.117599  167.117599
1579        1579   1585  2024-06-06  169.094803  169.094803  169.094803
1580        1580   1586  2024-06-07  172.330795  172.330795  172.330795
1581        1581   1587  2024-06-10  173.026306  173.026306  173.026306

           close    adjclose  volume
0      67.461197   67.461197     0.0
1      67.497299   67.497299     0.0
2      67.500702   67.500702     0.0
3      67.813004   67.813004     0.0
4      68.086197   68.086197     0.0
...          ...         ...     ...
1577  161.638504  161.638504     0.0
1578  167.117599  167.117599     0.0
1579  169.094803  169.094803     0.0
1580  172.330795  172.330795     0.0
1581  173.026306  173.026306     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  33.372601  33.372601  33.372601  \
1              1      1  2018-01-02  33.175201  33.175201  33.175201
2              2      2  2018-01-03  33.345200  33.345200  33.345200
3              3      3  2018-01-04  33.410500  33.410500  33.410500
4              4      4  2018-01-05  33.593102  33.593102  33.593102
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  93.033897  93.033897  93.033897
1578        1578   1584  2024-06-05  95.844299  95.844299  95.844299
1579        1579   1585  2024-06-06  96.660797  96.660797  96.660797
1580        1580   1586  2024-06-07  98.039398  98.039398  98.039398
1581        1581   1587  2024-06-10  97.887901  97.887901  97.887901

          close   adjclose  volume
0     33.372601  33.372601     0.0
1     33.175201  33.175201     0.0
2     33.345200  33.345200     0.0
3     33.410500  33.410500     0.0
4     33.593102  33.593102     0.0
...         ...        ...     ...
1577  93.033897  93.033897     0.0
1578  95.844299  95.844299     0.0
1579  96.660797  96.660797     0.0
1580  98.039398  98.039398     0.0
1581  97.887901  97.887901     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  10.105200  10.105200  10.105200  \
1              1      1  2018-01-02  10.103800  10.103800  10.103800
2              2      2  2018-01-03  10.107700  10.107700  10.107700
3              3      3  2018-01-04  10.181700  10.181700  10.181700
4              4      4  2018-01-05  10.243700  10.243700  10.243700
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  22.131201  22.131201  22.131201
1578        1578   1584  2024-06-05  22.928400  22.928400  22.928400
1579        1579   1585  2024-06-06  23.103800  23.103800  23.103800
1580        1580   1586  2024-06-07  23.576599  23.576599  23.576599
1581        1581   1587  2024-06-10  23.610600  23.610600  23.610600

          close   adjclose  volume
0     10.105200  10.105200     0.0
1     10.103800  10.103800     0.0
2     10.107700  10.107700     0.0
3     10.181700  10.181700     0.0
4     10.243700  10.243700     0.0
...         ...        ...     ...
1577  22.131201  22.131201     0.0
1578  22.928400  22.928400     0.0
1579  23.103800  23.103800     0.0
1580  23.576599  23.576599     0.0
1581  23.610600  23.610600     0.0

[1582 rows x 9 columns]

      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   90.519997   90.519997   90.519997  \
1              1      1  2018-01-02   90.370003   90.370003   90.370003
2              2      2  2018-01-03   90.570000   90.570000   90.570000
3              3      3  2018-01-04   91.190002   91.190002   91.190002
4              4      4  2018-01-05   92.400002   92.400002   92.400002
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  224.507599  224.507599  224.507599
1578        1578   1584  2024-06-05  231.931000  231.931000  231.931000
1579        1579   1585  2024-06-06  235.021606  235.021606  235.021606
1580        1580   1586  2024-06-07  238.717606  238.717606  238.717606
1581        1581   1587  2024-06-10  238.961807  238.961807  238.961807

           close    adjclose  volume
0      90.519997   90.519997     0.0
1      90.370003   90.370003     0.0
2      90.570000   90.570000     0.0
3      91.190002   91.190002     0.0
4      92.400002   92.400002     0.0
...          ...         ...     ...
1577  224.507599  224.507599     0.0
1578  231.931000  231.931000     0.0
1579  235.021606  235.021606     0.0
1580  238.717606  238.717606     0.0
1581  238.961807  238.961807     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  33.029999  33.029999  33.029999  \
1              1      1  2018-01-02  32.970001  32.970001  32.970001
2              2      2  2018-01-03  32.970001  32.970001  32.970001
3              3      3  2018-01-04  33.130001  33.130001  33.130001
4              4      4  2018-01-05  33.349998  33.349998  33.349998
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  74.169998  74.169998  74.169998
1578        1578   1584  2024-06-05  76.730003  76.730003  76.730003
1579        1579   1585  2024-06-06  77.540001  77.540001  77.540001
1580        1580   1586  2024-06-07  79.070000  79.070000  79.070000
1581        1581   1587  2024-06-10  79.150002  79.150002  79.150002

          close   adjclose  volume
0     33.029999  33.029999     0.0
1     32.970001  32.970001     0.0
2     32.970001  32.970001     0.0
3     33.130001  33.130001     0.0
4     33.349998  33.349998     0.0
...         ...        ...     ...
1577  74.169998  74.169998     0.0
1578  76.730003  76.730003     0.0
1579  77.540001  77.540001     0.0
1580  79.070000  79.070000     0.0
1581  79.150002  79.150002     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  224.669006  224.669006  224.669006  \
1              1      1  2018-01-02  224.113998  224.113998  224.113998
2              2      2  2018-01-03  224.292999  224.292999  224.292999
3              3      3  2018-01-04  225.576004  225.576004  225.576004
4              4      4  2018-01-05  227.033997  227.033997  227.033997
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  496.278992  496.278992  496.278992
1578        1578   1584  2024-06-05  513.909973  513.909973  513.909973
1579        1579   1585  2024-06-06  519.012024  519.012024  519.012024
1580        1580   1586  2024-06-07  529.122009  529.122009  529.122009
1581        1581   1587  2024-06-10  530.234009  530.234009  530.234009

           close    adjclose  volume
0     224.669006  224.669006     0.0
1     224.113998  224.113998     0.0
2     224.292999  224.292999     0.0
3     225.576004  225.576004     0.0
4     227.033997  227.033997     0.0
...          ...         ...     ...
1577  496.278992  496.278992     0.0
1578  513.909973  513.909973     0.0
1579  519.012024  519.012024     0.0
1580  529.122009  529.122009     0.0
1581  530.234009  530.234009     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  40.369999  40.369999  40.369999  \
1              1      1  2018-01-02  40.285999  40.285999  40.285999
2              2      2  2018-01-03  40.348701  40.348701  40.348701
3              3      3  2018-01-04  40.638302  40.638302  40.638302
4              4      4  2018-01-05  40.809399  40.809399  40.809399
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  88.652496  88.652496  88.652496
1578        1578   1584  2024-06-05  91.453300  91.453300  91.453300
1579        1579   1585  2024-06-06  92.339600  92.339600  92.339600
1580        1580   1586  2024-06-07  93.651199  93.651199  93.651199
1581        1581   1587  2024-06-10  93.663101  93.663101  93.663101

          close   adjclose  volume
0     40.369999  40.369999     0.0
1     40.285999  40.285999     0.0
2     40.348701  40.348701     0.0
3     40.638302  40.638302     0.0
4     40.809399  40.809399     0.0
...         ...        ...     ...
1577  88.652496  88.652496     0.0
1578  91.453300  91.453300     0.0
1579  92.339600  92.339600     0.0
1580  93.651199  93.651199     0.0
1581  93.663101  93.663101     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  23.580000  23.580000  23.580000  \
1              1      1  2018-01-02  23.510000  23.510000  23.510000
2              2      2  2018-01-03  23.540001  23.540001  23.540001
3              3      3  2018-01-04  23.590000  23.590000  23.590000
4              4      4  2018-01-05  23.709999  23.709999  23.709999
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  61.430000  61.430000  61.430000
1578        1578   1584  2024-06-05  63.459999  63.459999  63.459999
1579        1579   1585  2024-06-06  64.129997  64.129997  64.129997
1580        1580   1586  2024-06-07  65.309998  65.309998  65.309998
1581        1581   1587  2024-06-10  65.349998  65.349998  65.349998

          close   adjclose  volume
0     23.580000  23.580000     0.0
1     23.510000  23.510000     0.0
2     23.540001  23.540001     0.0
3     23.590000  23.590000     0.0
4     23.709999  23.709999     0.0
...         ...        ...     ...
1577  61.430000  61.430000     0.0
1578  63.459999  63.459999     0.0
1579  64.129997  64.129997     0.0
1580  65.309998  65.309998     0.0
1581  65.349998  65.349998     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  349.760010  349.760010  349.760010  \
1              1      1  2018-01-02  349.399994  349.399994  349.399994
2              2      2  2018-01-03  350.859985  350.859985  350.859985
3              3      3  2018-01-04  353.420013  353.420013  353.420013
4              4      4  2018-01-05  354.690002  354.690002  354.690002
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  932.250000  932.250000  932.250000
1578        1578   1584  2024-06-05  964.549988  964.549988  964.549988
1579        1579   1585  2024-06-06  976.590027  976.590027  976.590027
1580        1580   1586  2024-06-07  992.380005  992.380005  992.380005
1581        1581   1587  2024-06-10  997.929993  997.929993  997.929993

           close    adjclose  volume
0     349.760010  349.760010     0.0
1     349.399994  349.399994     0.0
2     350.859985  350.859985     0.0
3     353.420013  353.420013     0.0
4     354.690002  354.690002     0.0
...          ...         ...     ...
1577  932.250000  932.250000     0.0
1578  964.549988  964.549988     0.0
1579  976.590027  976.590027     0.0
1580  992.380005  992.380005     0.0
1581  997.929993  997.929993     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  113.319000  113.319000  113.319000  \
1              1      1  2018-01-02  113.202003  113.202003  113.202003
2              2      2  2018-01-03  113.245003  113.245003  113.245003
3              3      3  2018-01-04  113.917000  113.917000  113.917000
4              4      4  2018-01-05  113.992996  113.992996  113.992996
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  305.309998  305.309998  305.309998
1578        1578   1584  2024-06-05  317.132996  317.132996  317.132996
1579        1579   1585  2024-06-06  322.425995  322.425995  322.425995
1580        1580   1586  2024-06-07  327.790009  327.790009  327.790009
1581        1581   1587  2024-06-10  329.600006  329.600006  329.600006

           close    adjclose  volume
0     113.319000  113.319000     0.0
1     113.202003  113.202003     0.0
2     113.245003  113.245003     0.0
3     113.917000  113.917000     0.0
4     113.992996  113.992996     0.0
...          ...         ...     ...
1577  305.309998  305.309998     0.0
1578  317.132996  317.132996     0.0
1579  322.425995  322.425995     0.0
1580  327.790009  327.790009     0.0
1581  329.600006  329.600006     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2019-10-17  10.000000  10.000000  10.000000  \
1              1      1  2019-10-18  10.000000  10.000000  10.000000
2              2      2  2019-10-22  10.225200  10.225200  10.225200
3              3      3  2019-10-23  10.257000  10.257000  10.257000
4              4      4  2019-10-24  10.279800  10.279800  10.279800
...          ...    ...         ...        ...        ...        ...
1140        1140   1145  2024-06-04  28.036800  28.036800  28.036800
1141        1141   1146  2024-06-05  29.075100  29.075100  29.075100
1142        1142   1147  2024-06-06  29.635500  29.635500  29.635500
1143        1143   1148  2024-06-07  30.200001  30.200001  30.200001
1144        1144   1149  2024-06-10  30.280100  30.280100  30.280100

          close   adjclose  volume
0     10.000000  10.000000     0.0
1     10.000000  10.000000     0.0
2     10.225200  10.225200     0.0
3     10.257000  10.257000     0.0
4     10.279800  10.279800     0.0
...         ...        ...     ...
1140  28.036800  28.036800     0.0
1141  29.075100  29.075100     0.0
1142  29.635500  29.635500     0.0
1143  30.200001  30.200001     0.0
1144  30.280100  30.280100     0.0

[1145 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-02  124.757004  124.757004  124.757004  \
1              1      1  2018-01-03  124.953003  124.953003  124.953003
2              2      2  2018-01-04  125.788002  125.788002  125.788002
3              3      3  2018-01-05  126.551003  126.551003  126.551003
4              4      4  2018-01-08  127.300003  127.300003  127.300003
...          ...    ...         ...         ...         ...         ...
1561        1561   1643  2024-06-04  342.631012  342.631012  342.631012
1562        1562   1644  2024-06-05  352.989014  352.989014  352.989014
1563        1563   1645  2024-06-06  359.424988  359.424988  359.424988
1564        1564   1646  2024-06-07  364.514008  364.514008  364.514008
1565        1565   1647  2024-06-10  365.606995  365.606995  365.606995

           close    adjclose  volume
0     124.757004  124.757004     0.0
1     124.953003  124.953003     0.0
2     125.788002  125.788002     0.0
3     126.551003  126.551003     0.0
4     127.300003  127.300003     0.0
...          ...         ...     ...
1561  342.631012  342.631012     0.0
1562  352.989014  352.989014     0.0
1563  359.424988  359.424988     0.0
1564  364.514008  364.514008     0.0
1565  365.606995  365.606995     0.0

[1566 rows x 9 columns]

      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  229.410995  229.410995  229.410995  \
1              1      1  2018-01-02  228.897995  228.897995  228.897995
2              2      2  2018-01-03  230.113007  230.113007  230.113007
3              3      3  2018-01-04  231.925995  231.925995  231.925995
4              4      4  2018-01-05  233.485001  233.485001  233.485001
...          ...    ...         ...         ...         ...         ...
1576        1576   1582  2024-06-03  596.916626  596.916626  596.916626
1577        1577   1583  2024-06-04  564.271179  564.271179  564.271179
1578        1578   1584  2024-06-05  585.254700  585.254700  585.254700
1579        1579   1585  2024-06-06  593.619629  593.619629  593.619629
1580        1580   1586  2024-06-07  602.429810  602.429810  602.429810

           close    adjclose  volume
0     229.410995  229.410995     0.0
1     228.897995  228.897995     0.0
2     230.113007  230.113007     0.0
3     231.925995  231.925995     0.0
4     233.485001  233.485001     0.0
...          ...         ...     ...
1576  596.916626  596.916626     0.0
1577  564.271179  564.271179     0.0
1578  585.254700  585.254700     0.0
1579  593.619629  593.619629     0.0
1580  602.429810  602.429810     0.0

[1581 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2019-02-28  10.010000  10.010000  10.010000  \
1              1      1  2019-03-01  10.010000  10.010000  10.010000
2              2      2  2019-03-05  10.060000  10.060000  10.060000
3              3      3  2019-03-06  10.100000  10.100000  10.100000
4              4      4  2019-03-07  10.080000  10.080000  10.080000
...          ...    ...         ...        ...        ...        ...
1291        1291   1296  2024-06-04  29.260000  29.260000  29.260000
1292        1292   1297  2024-06-05  30.219999  30.219999  30.219999
1293        1293   1298  2024-06-06  30.850000  30.850000  30.850000
1294        1294   1299  2024-06-07  31.459999  31.459999  31.459999
1295        1295   1300  2024-06-10  31.600000  31.600000  31.600000

          close   adjclose  volume
0     10.010000  10.010000     0.0
1     10.010000  10.010000     0.0
2     10.060000  10.060000     0.0
3     10.100000  10.100000     0.0
4     10.080000  10.080000     0.0
...         ...        ...     ...
1291  29.260000  29.260000     0.0
1292  30.219999  30.219999     0.0
1293  30.850000  30.850000     0.0
1294  31.459999  31.459999     0.0
1295  31.600000  31.600000     0.0

[1296 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   33.263199   33.263199   33.263199  \
1              1      1  2018-01-02   33.136002   33.136002   33.136002
2              2      2  2018-01-03   33.202801   33.202801   33.202801
3              3      3  2018-01-04   33.504601   33.504601   33.504601
4              4      4  2018-01-05   33.773800   33.773800   33.773800
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  100.440697  100.440697  100.440697
1578        1578   1584  2024-06-05  103.444099  103.444099  103.444099
1579        1579   1585  2024-06-06  106.306198  106.306198  106.306198
1580        1580   1586  2024-06-07  108.210999  108.210999  108.210999
1581        1581   1587  2024-06-10  109.050697  109.050697  109.050697

           close    adjclose  volume
0      33.263199   33.263199     0.0
1      33.136002   33.136002     0.0
2      33.202801   33.202801     0.0
3      33.504601   33.504601     0.0
4      33.773800   33.773800     0.0
...          ...         ...     ...
1577  100.440697  100.440697     0.0
1578  103.444099  103.444099     0.0
1579  106.306198  106.306198     0.0
1580  108.210999  108.210999     0.0
1581  109.050697  109.050697     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   91.030998   91.030998   91.030998  \
1              1      1  2018-01-02   90.885002   90.885002   90.885002
2              2      2  2018-01-03   91.217003   91.217003   91.217003
3              3      3  2018-01-04   91.696999   91.696999   91.696999
4              4      4  2018-01-05   91.901001   91.901001   91.901001
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  213.654007  213.654007  213.654007
1578        1578   1584  2024-06-05  220.526001  220.526001  220.526001
1579        1579   1585  2024-06-06  223.143005  223.143005  223.143005
1580        1580   1586  2024-06-07  225.623993  225.623993  225.623993
1581        1581   1587  2024-06-10  226.834000  226.834000  226.834000

           close    adjclose  volume
0      91.030998   91.030998     0.0
1      90.885002   90.885002     0.0
2      91.217003   91.217003     0.0
3      91.696999   91.696999     0.0
4      91.901001   91.901001     0.0
...          ...         ...     ...
1577  213.654007  213.654007     0.0
1578  220.526001  220.526001     0.0
1579  223.143005  223.143005     0.0
1580  225.623993  225.623993     0.0
1581  226.834000  226.834000     0.0

[1582 rows x 9 columns]
     Unnamed: 0  index        date       open       high        low
0             0      0  2020-06-29  10.000000  10.000000  10.000000  \
1             1      1  2020-06-30  10.000000  10.000000  10.000000
2             2      2  2020-07-01  10.040000  10.040000  10.040000
3             3      3  2020-07-02  10.060000  10.060000  10.060000
4             4      4  2020-07-03  10.090000  10.090000  10.090000
..          ...    ...         ...        ...        ...        ...
957         957   1005  2024-06-04  31.100000  31.100000  31.100000
958         958   1006  2024-06-05  31.910000  31.910000  31.910000
959         959   1007  2024-06-06  32.849998  32.849998  32.849998
960         960   1008  2024-06-07  33.590000  33.590000  33.590000
961         961   1009  2024-06-10  33.740002  33.740002  33.740002

         close   adjclose  volume
0    10.000000  10.000000     0.0
1    10.000000  10.000000     0.0
2    10.040000  10.040000     0.0
3    10.060000  10.060000     0.0
4    10.090000  10.090000     0.0
..         ...        ...     ...
957  31.100000  31.100000     0.0
958  31.910000  31.910000     0.0
959  32.849998  32.849998     0.0
960  33.590000  33.590000     0.0
961  33.740002  33.740002     0.0

[962 rows x 9 columns]
      Unnamed: 0  index        date         open         high          low
0              0      0  2018-01-01   675.382019   675.382019   675.382019  \
1              1      1  2018-01-02   672.013977   672.013977   672.013977
2              2      2  2018-01-03   675.031006   675.031006   675.031006
3              3      3  2018-01-04   683.617981   683.617981   683.617981
4              4      4  2018-01-05   685.624023   685.624023   685.624023
...          ...    ...         ...          ...          ...          ...
1577        1577   1583  2024-06-04  1785.973999  1785.973999  1785.973999
1578        1578   1584  2024-06-05  1842.035034  1842.035034  1842.035034
1579        1579   1585  2024-06-06  1864.534058  1864.534058  1864.534058
1580        1580   1586  2024-06-07  1892.249023  1892.249023  1892.249023
1581        1581   1587  2024-06-10  1899.067017  1899.067017  1899.067017

            close     adjclose  volume
0      675.382019   675.382019     0.0
1      672.013977   672.013977     0.0
2      675.031006   675.031006     0.0
3      683.617981   683.617981     0.0
4      685.624023   685.624023     0.0
...           ...          ...     ...
1577  1785.973999  1785.973999     0.0
1578  1842.035034  1842.035034     0.0
1579  1864.534058  1864.534058     0.0
1580  1892.249023  1892.249023     0.0
1581  1899.067017  1899.067017     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  17.336000  17.336000  17.336000  \
1              1      1  2018-01-02  17.287001  17.287001  17.287001
2              2      2  2018-01-03  17.389999  17.389999  17.389999
3              3      3  2018-01-04  17.570000  17.570000  17.570000
4              4      4  2018-01-05  17.641001  17.641001  17.641001
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  44.335999  44.335999  44.335999
1578        1578   1584  2024-06-05  45.779999  45.779999  45.779999
1579        1579   1585  2024-06-06  46.438999  46.438999  46.438999
1580        1580   1586  2024-06-07  47.224998  47.224998  47.224998
1581        1581   1587  2024-06-10  47.356998  47.356998  47.356998

          close   adjclose  volume
0     17.336000  17.336000     0.0
1     17.287001  17.287001     0.0
2     17.389999  17.389999     0.0
3     17.570000  17.570000     0.0
4     17.641001  17.641001     0.0
...         ...        ...     ...
1577  44.335999  44.335999     0.0
1578  45.779999  45.779999     0.0
1579  46.438999  46.438999     0.0
1580  47.224998  47.224998     0.0
1581  47.356998  47.356998     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  31.209999  31.209999  31.209999  \
1              1      1  2018-01-02  31.129999  31.129999  31.129999
2              2      2  2018-01-03  31.090000  31.090000  31.090000
3              3      3  2018-01-04  31.340000  31.340000  31.340000
4              4      4  2018-01-05  31.360001  31.360001  31.360001
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  85.550003  85.550003  85.550003
1578        1578   1584  2024-06-05  88.730003  88.730003  88.730003
1579        1579   1585  2024-06-06  89.400002  89.400002  89.400002
1580        1580   1586  2024-06-07  90.709999  90.709999  90.709999
1581        1581   1587  2024-06-10  91.160004  91.160004  91.160004

          close   adjclose  volume
0     31.209999  31.209999     0.0
1     31.129999  31.129999     0.0
2     31.090000  31.090000     0.0
3     31.340000  31.340000     0.0
4     31.360001  31.360001     0.0
...         ...        ...     ...
1577  85.550003  85.550003     0.0
1578  88.730003  88.730003     0.0
1579  89.400002  89.400002     0.0
1580  90.709999  90.709999     0.0
1581  91.160004  91.160004     0.0

[1582 rows x 9 columns]

      Unnamed: 0  index        date         open         high          low
0              0      0  2018-01-01   622.682983   622.682983   622.682983  \
1              1      1  2018-01-02   622.530029   622.530029   622.530029
2              2      2  2018-01-03   624.179993   624.179993   624.179993
3              3      3  2018-01-04   627.510986   627.510986   627.510986
4              4      4  2018-01-05   633.137024   633.137024   633.137024
...          ...    ...         ...          ...          ...          ...
1577        1577   1583  2024-06-04  1558.630371  1558.630371  1558.630371
1578        1578   1584  2024-06-05  1611.499512  1611.499512  1611.499512
1579        1579   1585  2024-06-06  1630.955566  1630.955566  1630.955566
1580        1580   1586  2024-06-07  1657.567505  1657.567505  1657.567505
1581        1581   1587  2024-06-10  1661.564941  1661.564941  1661.564941

            close     adjclose  volume
0      622.682983   622.682983     0.0
1      622.530029   622.530029     0.0
2      624.179993   624.179993     0.0
3      627.510986   627.510986     0.0
4      633.137024   633.137024     0.0
...           ...          ...     ...
1577  1558.630371  1558.630371     0.0
1578  1611.499512  1611.499512     0.0
1579  1630.955566  1630.955566     0.0
1580  1657.567505  1657.567505     0.0
1581  1661.564941  1661.564941     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   43.750099   43.750099   43.750099  \
1              1      1  2018-01-02   43.558601   43.558601   43.558601
2              2      2  2018-01-03   43.639099   43.639099   43.639099
3              3      3  2018-01-04   43.829300   43.829300   43.829300
4              4      4  2018-01-05   44.043900   44.043900   44.043900
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  106.351097  106.351097  106.351097
1578        1578   1584  2024-06-05  110.107002  110.107002  110.107002
1579        1579   1585  2024-06-06  111.071098  111.071098  111.071098
1580        1580   1586  2024-06-07  113.263397  113.263397  113.263397
1581        1581   1587  2024-06-10  113.804703  113.804703  113.804703

           close    adjclose  volume
0      43.750099   43.750099     0.0
1      43.558601   43.558601     0.0
2      43.639099   43.639099     0.0
3      43.829300   43.829300     0.0
4      44.043900   44.043900     0.0
...          ...         ...     ...
1577  106.351097  106.351097     0.0
1578  110.107002  110.107002     0.0
1579  111.071098  111.071098     0.0
1580  113.263397  113.263397     0.0
1581  113.804703  113.804703     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  15.295900  15.295900  15.295900  \
1              1      1  2018-01-02  15.249300  15.249300  15.249300
2              2      2  2018-01-03  15.245400  15.245400  15.245400
3              3      3  2018-01-04  15.441000  15.441000  15.441000
4              4      4  2018-01-05  15.538000  15.538000  15.538000
...          ...    ...         ...        ...        ...        ...
1574        1577   1583  2024-06-04  41.649502  41.649502  41.649502
1575        1578   1584  2024-06-05  43.189098  43.189098  43.189098
1576        1579   1585  2024-06-06  43.969601  43.969601  43.969601
1577        1580   1586  2024-06-07  44.879101  44.879101  44.879101
1578        1581   1587  2024-06-10  45.087101  45.087101  45.087101

          close   adjclose  volume
0     15.295900  15.295900     0.0
1     15.249300  15.249300     0.0
2     15.245400  15.245400     0.0
3     15.441000  15.441000     0.0
4     15.538000  15.538000     0.0
...         ...        ...     ...
1574  41.649502  41.649502     0.0
1575  43.189098  43.189098     0.0
1576  43.969601  43.969601     0.0
1577  44.879101  44.879101     0.0
1578  45.087101  45.087101     0.0

[1579 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  19.799999  19.799999  19.799999  \
1              1      1  2018-01-02  19.780001  19.780001  19.780001
2              2      2  2018-01-03  19.830000  19.830000  19.830000
3              3      3  2018-01-04  20.010000  20.010000  20.010000
4              4      4  2018-01-05  20.090000  20.090000  20.090000
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  48.830002  48.830002  48.830002
1578        1578   1584  2024-06-05  50.540001  50.540001  50.540001
1579        1579   1585  2024-06-06  51.299999  51.299999  51.299999
1580        1580   1586  2024-06-07  52.139999  52.139999  52.139999
1581        1581   1587  2024-06-10  52.279999  52.279999  52.279999

          close   adjclose  volume
0     19.799999  19.799999     0.0
1     19.780001  19.780001     0.0
2     19.830000  19.830000     0.0
3     20.010000  20.010000     0.0
4     20.090000  20.090000     0.0
...         ...        ...     ...
1577  48.830002  48.830002     0.0
1578  50.540001  50.540001     0.0
1579  51.299999  51.299999     0.0
1580  52.139999  52.139999     0.0
1581  52.279999  52.279999     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  27.832399  27.832399  27.832399  \
1              1      1  2018-01-02  27.721500  27.721500  27.721500
2              2      2  2018-01-03  27.808201  27.808201  27.808201
3              3      3  2018-01-04  27.878599  27.878599  27.878599
4              4      4  2018-01-05  28.174601  28.174601  28.174601
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  80.987999  80.987999  80.987999
1578        1578   1584  2024-06-05  85.184601  85.184601  85.184601
1579        1579   1585  2024-06-06  86.838699  86.838699  86.838699
1580        1580   1586  2024-06-07  88.473297  88.473297  88.473297
1581        1581   1587  2024-06-10  88.137299  88.137299  88.137299

          close   adjclose  volume
0     27.832399  27.832399     0.0
1     27.721500  27.721500     0.0
2     27.808201  27.808201     0.0
3     27.878599  27.878599     0.0
4     28.174601  28.174601     0.0
...         ...        ...     ...
1577  80.987999  80.987999     0.0
1578  85.184601  85.184601     0.0
1579  86.838699  86.838699     0.0
1580  88.473297  88.473297     0.0
1581  88.137299  88.137299     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   57.756599   57.756599   57.756599  \
1              1      1  2018-01-02   57.444500   57.444500   57.444500
2              2      2  2018-01-03   57.691399   57.691399   57.691399
3              3      3  2018-01-04   57.939999   57.939999   57.939999
4              4      4  2018-01-05   58.275501   58.275501   58.275501
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  246.106598  246.106598  246.106598
1578        1578   1584  2024-06-05  256.105499  256.105499  256.105499
1579        1579   1585  2024-06-06  260.594788  260.594788  260.594788
1580        1580   1586  2024-06-07  264.480286  264.480286  264.480286
1581        1581   1587  2024-06-10  264.356110  264.356110  264.356110

           close    adjclose  volume
0      57.756599   57.756599     0.0
1      57.444500   57.444500     0.0
2      57.691399   57.691399     0.0
3      57.939999   57.939999     0.0
4      58.275501   58.275501     0.0
...          ...         ...     ...
1577  246.106598  246.106598     0.0
1578  256.105499  256.105499     0.0
1579  260.594788  260.594788     0.0
1580  264.480286  264.480286     0.0
1581  264.356110  264.356110     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date         open         high          low
0              0      0  2018-01-02  1249.280029  1249.280029  1249.280029  \
1              1      1  2018-01-03  1256.209961  1256.209961  1256.209961
2              2      2  2018-01-04  1265.560059  1265.560059  1265.560059
3              3      3  2018-01-05  1274.829956  1274.829956  1274.829956
4              4      4  2018-01-08  1280.430054  1280.430054  1280.430054
...          ...    ...         ...          ...          ...          ...
1561        1561   1643  2024-06-04  3694.381836  3694.381836  3694.381836
1562        1562   1644  2024-06-05  3863.333496  3863.333496  3863.333496
1563        1563   1645  2024-06-06  3943.434814  3943.434814  3943.434814
1564        1564   1646  2024-06-07  4004.874512  4004.874512  4004.874512
1565        1565   1647  2024-06-10  4045.061523  4045.061523  4045.061523

            close     adjclose  volume
0     1249.280029  1249.280029     0.0
1     1256.209961  1256.209961     0.0
2     1265.560059  1265.560059     0.0
3     1274.829956  1274.829956     0.0
4     1280.430054  1280.430054     0.0
...           ...          ...     ...
1561  3694.381836  3694.381836     0.0
1562  3863.333496  3863.333496     0.0
1563  3943.434814  3943.434814     0.0
1564  4004.874512  4004.874512     0.0
1565  4045.061523  4045.061523     0.0

[1566 rows x 9 columns]

      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   62.702000   62.702000   62.702000  \
1              1      1  2018-01-02   62.210999   62.210999   62.210999
2              2      2  2018-01-03   62.478001   62.478001   62.478001
3              3      3  2018-01-04   62.986000   62.986000   62.986000
4              4      4  2018-01-05   63.668999   63.668999   63.668999
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  175.447006  175.447006  175.447006
1578        1578   1584  2024-06-05  182.552002  182.552002  182.552002
1579        1579   1585  2024-06-06  185.792999  185.792999  185.792999
1580        1580   1586  2024-06-07  188.192993  188.192993  188.192993
1581        1581   1587  2024-06-10  189.240997  189.240997  189.240997

           close    adjclose  volume
0      62.702000   62.702000     0.0
1      62.210999   62.210999     0.0
2      62.478001   62.478001     0.0
3      62.986000   62.986000     0.0
4      63.668999   63.668999     0.0
...          ...         ...     ...
1577  175.447006  175.447006     0.0
1578  182.552002  182.552002     0.0
1579  185.792999  185.792999     0.0
1580  188.192993  188.192993     0.0
1581  189.240997  189.240997     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  30.403999  30.403999  30.403999  \
1              1      1  2018-01-02  30.296000  30.296000  30.296000
2              2      2  2018-01-03  30.490000  30.490000  30.490000
3              3      3  2018-01-04  30.872000  30.872000  30.872000
4              4      4  2018-01-05  31.163000  31.163000  31.163000
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  80.074997  80.074997  80.074997
1578        1578   1584  2024-06-05  83.049004  83.049004  83.049004
1579        1579   1585  2024-06-06  85.071999  85.071999  85.071999
1580        1580   1586  2024-06-07  86.522003  86.522003  86.522003
1581        1581   1587  2024-06-10  86.748001  86.748001  86.748001

          close   adjclose  volume
0     30.403999  30.403999     0.0
1     30.296000  30.296000     0.0
2     30.490000  30.490000     0.0
3     30.872000  30.872000     0.0
4     31.163000  31.163000     0.0
...         ...        ...     ...
1577  80.074997  80.074997     0.0
1578  83.049004  83.049004     0.0
1579  85.071999  85.071999     0.0
1580  86.522003  86.522003     0.0
1581  86.748001  86.748001     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   90.621597   90.621597   90.621597  \
1              1      1  2018-01-02   90.185600   90.185600   90.185600
2              2      2  2018-01-03   90.816902   90.816902   90.816902
3              3      3  2018-01-04   91.873398   91.873398   91.873398
4              4      4  2018-01-05   92.210098   92.210098   92.210098
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  233.356094  233.356094  233.356094
1578        1578   1584  2024-06-05  240.333496  240.333496  240.333496
1579        1579   1585  2024-06-06  244.244705  244.244705  244.244705
1580        1580   1586  2024-06-07  246.513794  246.513794  246.513794
1581        1581   1587  2024-06-10  248.328003  248.328003  248.328003

           close    adjclose  volume
0      90.621597   90.621597     0.0
1      90.185600   90.185600     0.0
2      90.816902   90.816902     0.0
3      91.873398   91.873398     0.0
4      92.210098   92.210098     0.0
...          ...         ...     ...
1577  233.356094  233.356094     0.0
1578  240.333496  240.333496     0.0
1579  244.244705  244.244705     0.0
1580  246.513794  246.513794     0.0
1581  248.328003  248.328003     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   41.958000   41.958000   41.958000  \
1              1      1  2018-01-02   41.658001   41.658001   41.658001
2              2      2  2018-01-03   41.804001   41.804001   41.804001
3              3      3  2018-01-04   42.178001   42.178001   42.178001
4              4      4  2018-01-05   42.611000   42.611000   42.611000
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  111.342003  111.342003  111.342003
1578        1578   1584  2024-06-05  115.230003  115.230003  115.230003
1579        1579   1585  2024-06-06  117.869003  117.869003  117.869003
1580        1580   1586  2024-06-07  119.533997  119.533997  119.533997
1581        1581   1587  2024-06-10  120.291000  120.291000  120.291000

           close    adjclose  volume
0      41.958000   41.958000     0.0
1      41.658001   41.658001     0.0
2      41.804001   41.804001     0.0
3      42.178001   42.178001     0.0
4      42.611000   42.611000     0.0
...          ...         ...     ...
1577  111.342003  111.342003     0.0
1578  115.230003  115.230003     0.0
1579  117.869003  117.869003     0.0
1580  119.533997  119.533997     0.0
1581  120.291000  120.291000     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   49.963299   49.963299   49.963299  \
1              1      1  2018-01-02   49.642300   49.642300   49.642300
2              2      2  2018-01-03   50.127800   50.127800   50.127800
3              3      3  2018-01-04   50.588699   50.588699   50.588699
4              4      4  2018-01-05   51.179600   51.179600   51.179600
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  165.022507  165.022507  165.022507
1578        1578   1584  2024-06-05  169.950897  169.950897  169.950897
1579        1579   1585  2024-06-06  174.556198  174.556198  174.556198
1580        1580   1586  2024-06-07  178.251404  178.251404  178.251404
1581        1581   1587  2024-06-10  180.019501  180.019501  180.019501

           close    adjclose  volume
0      49.963299   49.963299     0.0
1      49.642300   49.642300     0.0
2      50.127800   50.127800     0.0
3      50.588699   50.588699     0.0
4      51.179600   51.179600     0.0
...          ...         ...     ...
1577  165.022507  165.022507     0.0
1578  169.950897  169.950897     0.0
1579  174.556198  174.556198     0.0
1580  178.251404  178.251404     0.0
1581  180.019501  180.019501     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-11-13  10.015700  10.015700  10.015700  \
1              1      1  2018-11-14  10.016600  10.016600  10.016600
2              2      2  2018-11-15  10.015400  10.015400  10.015400
3              3      3  2018-11-16  10.007500  10.007500  10.007500
4              4      4  2018-11-19  10.022000  10.022000  10.022000
...          ...    ...         ...        ...        ...        ...
1365        1365   1370  2024-06-04  37.664001  37.664001  37.664001
1366        1366   1371  2024-06-05  38.705200  38.705200  38.705200
1367        1367   1372  2024-06-06  39.695900  39.695900  39.695900
1368        1368   1373  2024-06-07  40.306499  40.306499  40.306499
1369        1369   1374  2024-06-10  40.721500  40.721500  40.721500

          close   adjclose  volume
0     10.015700  10.015700     0.0
1     10.016600  10.016600     0.0
2     10.015400  10.015400     0.0
3     10.007500  10.007500     0.0
4     10.022000  10.022000     0.0
...         ...        ...     ...
1365  37.664001  37.664001     0.0
1366  38.705200  38.705200     0.0
1367  39.695900  39.695900     0.0
1368  40.306499  40.306499     0.0
1369  40.721500  40.721500     0.0

[1370 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-02  30.900000  30.900000  30.900000  \
1              1      1  2018-01-03  31.049999  31.049999  31.049999
2              2      2  2018-01-04  31.410000  31.410000  31.410000
3              3      3  2018-01-05  31.450001  31.450001  31.450001
4              4      4  2018-01-08  31.459999  31.459999  31.459999
...          ...    ...         ...        ...        ...        ...
1574        1574   1582  2024-06-04  86.559998  86.559998  86.559998
1575        1575   1583  2024-06-05  88.849998  88.849998  88.849998
1576        1576   1584  2024-06-06  91.169998  91.169998  91.169998
1577        1577   1585  2024-06-07  92.940002  92.940002  92.940002
1578        1578   1586  2024-06-10  93.870003  93.870003  93.870003

          close   adjclose  volume
0     30.900000  30.900000     0.0
1     31.049999  31.049999     0.0
2     31.410000  31.410000     0.0
3     31.450001  31.450001     0.0
4     31.459999  31.459999     0.0
...         ...        ...     ...
1574  86.559998  86.559998     0.0
1575  88.849998  88.849998     0.0
1576  91.169998  91.169998     0.0
1577  92.940002  92.940002     0.0
1578  93.870003  93.870003     0.0

[1579 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2019-02-04  10.000000  10.000000  10.000000  \
1              1      1  2019-02-05  10.000000  10.000000  10.000000
2              2      2  2019-02-06  10.000000  10.000000  10.000000
3              3      3  2019-02-07  10.000000  10.000000  10.000000
4              4      4  2019-02-08  10.000000  10.000000  10.000000
...          ...    ...         ...        ...        ...        ...
1308        1308   1313  2024-06-04  40.679001  40.679001  40.679001
1309        1309   1314  2024-06-05  41.943001  41.943001  41.943001
1310        1310   1315  2024-06-06  43.152000  43.152000  43.152000
1311        1311   1316  2024-06-07  44.050999  44.050999  44.050999
1312        1312   1317  2024-06-10  44.479000  44.479000  44.479000

          close   adjclose  volume
0     10.000000  10.000000     0.0
1     10.000000  10.000000     0.0
2     10.000000  10.000000     0.0
3     10.000000  10.000000     0.0
4     10.000000  10.000000     0.0
...         ...        ...     ...
1308  40.679001  40.679001     0.0
1309  41.943001  41.943001     0.0
1310  43.152000  43.152000     0.0
1311  44.050999  44.050999     0.0
1312  44.479000  44.479000     0.0

[1313 rows x 9 columns]

      Unnamed: 0  index        date       open       high        low
0              0      0  2019-02-04  10.000000  10.000000  10.000000  \
1              1      1  2019-02-05  10.000000  10.000000  10.000000
2              2      2  2019-02-06  10.000000  10.000000  10.000000
3              3      3  2019-02-07  10.000000  10.000000  10.000000
4              4      4  2019-02-08  10.000000  10.000000  10.000000
...          ...    ...         ...        ...        ...        ...
1308        1308   1313  2024-06-04  40.679001  40.679001  40.679001
1309        1309   1314  2024-06-05  41.943001  41.943001  41.943001
1310        1310   1315  2024-06-06  43.152000  43.152000  43.152000
1311        1311   1316  2024-06-07  44.050999  44.050999  44.050999
1312        1312   1317  2024-06-10  44.479000  44.479000  44.479000

          close   adjclose  volume
0     10.000000  10.000000     0.0
1     10.000000  10.000000     0.0
2     10.000000  10.000000     0.0
3     10.000000  10.000000     0.0
4     10.000000  10.000000     0.0
...         ...        ...     ...
1308  40.679001  40.679001     0.0
1309  41.943001  41.943001     0.0
1310  43.152000  43.152000     0.0
1311  44.050999  44.050999     0.0
1312  44.479000  44.479000     0.0

[1313 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  125.901001  125.901001  125.901001  \
1              1      1  2018-01-02  125.043999  125.043999  125.043999
2              2      2  2018-01-03  125.698997  125.698997  125.698997
3              3      3  2018-01-04  127.223999  127.223999  127.223999
4              4      4  2018-01-05  128.257004  128.257004  128.257004
...          ...    ...         ...         ...         ...         ...
1576        1576   1582  2024-06-03  392.701813  392.701813  392.701813
1577        1577   1583  2024-06-04  366.815002  366.815002  366.815002
1578        1578   1584  2024-06-05  378.835907  378.835907  378.835907
1579        1579   1585  2024-06-06  385.256897  385.256897  385.256897
1580        1580   1586  2024-06-07  391.327393  391.327393  391.327393

           close    adjclose  volume
0     125.901001  125.901001     0.0
1     125.043999  125.043999     0.0
2     125.698997  125.698997     0.0
3     127.223999  127.223999     0.0
4     128.257004  128.257004     0.0
...          ...         ...     ...
1576  392.701813  392.701813     0.0
1577  366.815002  366.815002     0.0
1578  378.835907  378.835907     0.0
1579  385.256897  385.256897     0.0
1580  391.327393  391.327393     0.0

[1581 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   35.406601   35.406601   35.406601  \
1              1      1  2018-01-02   35.339001   35.339001   35.339001
2              2      2  2018-01-03   35.410599   35.410599   35.410599
3              3      3  2018-01-04   35.755299   35.755299   35.755299
4              4      4  2018-01-05   36.119598   36.119598   36.119598
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04   98.752403   98.752403   98.752403
1578        1578   1584  2024-06-05  101.949997  101.949997  101.949997
1579        1579   1585  2024-06-06  104.751297  104.751297  104.751297
1580        1580   1586  2024-06-07  106.626503  106.626503  106.626503
1581        1581   1587  2024-06-10  107.390999  107.390999  107.390999

           close    adjclose  volume
0      35.406601   35.406601     0.0
1      35.339001   35.339001     0.0
2      35.410599   35.410599     0.0
3      35.755299   35.755299     0.0
4      36.119598   36.119598     0.0
...          ...         ...     ...
1577   98.752403   98.752403     0.0
1578  101.949997  101.949997     0.0
1579  104.751297  104.751297     0.0
1580  106.626503  106.626503     0.0
1581  107.390999  107.390999     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  287.789001  287.789001  287.789001  \
1              1      1  2018-01-02  287.878998  287.878998  287.878998
2              2      2  2018-01-03  289.382996  289.382996  289.382996
3              3      3  2018-01-04  290.113007  290.113007  290.113007
4              4      4  2018-01-05  292.528992  292.528992  292.528992
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  718.260376  718.260376  718.260376
1578        1578   1584  2024-06-05  744.817383  744.817383  744.817383
1579        1579   1585  2024-06-06  754.353821  754.353821  754.353821
1580        1580   1586  2024-06-07  767.211487  767.211487  767.211487
1581        1581   1587  2024-06-10  770.475403  770.475403  770.475403

           close    adjclose  volume
0     287.789001  287.789001     0.0
1     287.878998  287.878998     0.0
2     289.382996  289.382996     0.0
3     290.113007  290.113007     0.0
4     292.528992  292.528992     0.0
...          ...         ...     ...
1577  718.260376  718.260376     0.0
1578  744.817383  744.817383     0.0
1579  754.353821  754.353821     0.0
1580  767.211487  767.211487     0.0
1581  770.475403  770.475403     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   60.791698   60.791698   60.791698  \
1              1      1  2018-01-02   60.572201   60.572201   60.572201
2              2      2  2018-01-03   61.003799   61.003799   61.003799
3              3      3  2018-01-04   61.891300   61.891300   61.891300
4              4      4  2018-01-05   62.582600   62.582600   62.582600
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  149.108002  149.108002  149.108002
1578        1578   1584  2024-06-05  154.494003  154.494003  154.494003
1579        1579   1585  2024-06-06  156.979996  156.979996  156.979996
1580        1580   1586  2024-06-07  159.692993  159.692993  159.692993
1581        1581   1587  2024-06-10  160.255997  160.255997  160.255997

           close    adjclose  volume
0      60.791698   60.791698     0.0
1      60.572201   60.572201     0.0
2      61.003799   61.003799     0.0
3      61.891300   61.891300     0.0
4      62.582600   62.582600     0.0
...          ...         ...     ...
1577  149.108002  149.108002     0.0
1578  154.494003  154.494003     0.0
1579  156.979996  156.979996     0.0
1580  159.692993  159.692993     0.0
1581  160.255997  160.255997     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  154.589996  154.589996  154.589996  \
1              1      1  2018-01-02  154.410004  154.410004  154.410004
2              2      2  2018-01-03  154.309998  154.309998  154.309998
3              3      3  2018-01-04  155.520004  155.520004  155.520004
4              4      4  2018-01-05  155.610001  155.610001  155.610001
...          ...    ...         ...         ...         ...         ...
1576        1576   1582  2024-06-03  450.380005  450.380005  450.380005
1577        1577   1583  2024-06-04  428.609985  428.609985  428.609985
1578        1578   1584  2024-06-05  441.950012  441.950012  441.950012
1579        1579   1585  2024-06-06  445.709991  445.709991  445.709991
1580        1580   1586  2024-06-07  453.700012  453.700012  453.700012

           close    adjclose  volume
0     154.589996  154.589996     0.0
1     154.410004  154.410004     0.0
2     154.309998  154.309998     0.0
3     155.520004  155.520004     0.0
4     155.610001  155.610001     0.0
...          ...         ...     ...
1576  450.380005  450.380005     0.0
1577  428.609985  428.609985     0.0
1578  441.950012  441.950012     0.0
1579  445.709991  445.709991     0.0
1580  453.700012  453.700012     0.0

[1581 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01  153.617004  153.617004  153.617004  \
1              1      1  2018-01-02  153.335007  153.335007  153.335007
2              2      2  2018-01-03  154.117004  154.117004  154.117004
3              3      3  2018-01-04  155.546997  155.546997  155.546997
4              4      4  2018-01-05  156.968994  156.968994  156.968994
...          ...    ...         ...         ...         ...         ...
1576        1577   1583  2024-06-04  409.086304  409.086304  409.086304
1577        1578   1584  2024-06-05  420.358398  420.358398  420.358398
1578        1579   1585  2024-06-06  424.981201  424.981201  424.981201
1579        1580   1586  2024-06-07  434.256897  434.256897  434.256897
1580        1581   1587  2024-06-10  436.005188  436.005188  436.005188

           close    adjclose  volume
0     153.617004  153.617004     0.0
1     153.335007  153.335007     0.0
2     154.117004  154.117004     0.0
3     155.546997  155.546997     0.0
4     156.968994  156.968994     0.0
...          ...         ...     ...
1576  409.086304  409.086304     0.0
1577  420.358398  420.358398     0.0
1578  424.981201  424.981201     0.0
1579  434.256897  434.256897     0.0
1580  436.005188  436.005188     0.0

[1581 rows x 9 columns]

      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   95.801300   95.801300   95.801300  \
1              1      1  2018-01-02   95.160301   95.160301   95.160301
2              2      2  2018-01-03   95.611198   95.611198   95.611198
3              3      3  2018-01-04   96.350800   96.350800   96.350800
4              4      4  2018-01-05   97.320396   97.320396   97.320396
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  407.179504  407.179504  407.179504
1578        1578   1584  2024-06-05  420.411987  420.411987  420.411987
1579        1579   1585  2024-06-06  425.334686  425.334686  425.334686
1580        1580   1586  2024-06-07  431.881592  431.881592  431.881592
1581        1581   1587  2024-06-10  432.313293  432.313293  432.313293

           close    adjclose  volume
0      95.801300   95.801300     0.0
1      95.160301   95.160301     0.0
2      95.611198   95.611198     0.0
3      96.350800   96.350800     0.0
4      97.320396   97.320396     0.0
...          ...         ...     ...
1577  407.179504  407.179504     0.0
1578  420.411987  420.411987     0.0
1579  425.334686  425.334686     0.0
1580  431.881592  431.881592     0.0
1581  432.313293  432.313293     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   62.060001   62.060001   62.060001  \
1              1      1  2018-01-02   61.990002   61.990002   61.990002
2              2      2  2018-01-03   62.560001   62.560001   62.560001
3              3      3  2018-01-04   62.900002   62.900002   62.900002
4              4      4  2018-01-05   63.700001   63.700001   63.700001
...          ...    ...         ...         ...         ...         ...
1576        1576   1583  2024-06-04  173.279999  173.279999  173.279999
1577        1577   1584  2024-06-05  178.360001  178.360001  178.360001
1578        1578   1585  2024-06-06  183.539993  183.539993  183.539993
1579        1579   1586  2024-06-07  186.779999  186.779999  186.779999
1580        1580   1587  2024-06-10  187.960007  187.960007  187.960007

           close    adjclose  volume
0      62.060001   62.060001     0.0
1      61.990002   61.990002     0.0
2      62.560001   62.560001     0.0
3      62.900002   62.900002     0.0
4      63.700001   63.700001     0.0
...          ...         ...     ...
1576  173.279999  173.279999     0.0
1577  178.360001  178.360001     0.0
1578  183.539993  183.539993     0.0
1579  186.779999  186.779999     0.0
1580  187.960007  187.960007     0.0

[1581 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2019-07-26  10.012900  10.012900  10.012900  \
1              1      1  2019-07-29   9.996000   9.996000   9.996000
2              2      2  2019-07-30   9.887300   9.887300   9.887300
3              3      3  2019-07-31   9.951900   9.951900   9.951900
4              4      4  2019-08-01   9.911200   9.911200   9.911200
...          ...    ...         ...        ...        ...        ...
1193        1193   1198  2024-06-04  28.079000  28.079000  28.079000
1194        1194   1199  2024-06-05  28.790001  28.790001  28.790001
1195        1195   1200  2024-06-06  29.121000  29.121000  29.121000
1196        1196   1201  2024-06-07  29.594999  29.594999  29.594999
1197        1197   1202  2024-06-10  29.638399  29.638399  29.638399

          close   adjclose  volume
0     10.012900  10.012900     0.0
1      9.996000   9.996000     0.0
2      9.887300   9.887300     0.0
3      9.951900   9.951900     0.0
4      9.911200   9.911200     0.0
...         ...        ...     ...
1193  28.079000  28.079000     0.0
1194  28.790001  28.790001     0.0
1195  29.121000  29.121000     0.0
1196  29.594999  29.594999     0.0
1197  29.638399  29.638399     0.0

[1198 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   45.806999   45.806999   45.806999  \
1              1      1  2018-01-02   45.549999   45.549999   45.549999
2              2      2  2018-01-03   45.625999   45.625999   45.625999
3              3      3  2018-01-04   45.840000   45.840000   45.840000
4              4      4  2018-01-05   46.278999   46.278999   46.278999
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  121.806000  121.806000  121.806000
1578        1578   1584  2024-06-05  125.626999  125.626999  125.626999
1579        1579   1585  2024-06-06  127.825996  127.825996  127.825996
1580        1580   1586  2024-06-07  129.889999  129.889999  129.889999
1581        1581   1587  2024-06-10  130.432007  130.432007  130.432007

           close    adjclose  volume
0      45.806999   45.806999     0.0
1      45.549999   45.549999     0.0
2      45.625999   45.625999     0.0
3      45.840000   45.840000     0.0
4      46.278999   46.278999     0.0
...          ...         ...     ...
1577  121.806000  121.806000     0.0
1578  125.626999  125.626999     0.0
1579  127.825996  127.825996     0.0
1580  129.889999  129.889999     0.0
1581  130.432007  130.432007     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   62.562500   62.562500   62.562500  \
1              1      1  2018-01-02   62.551800   62.551800   62.551800
2              2      2  2018-01-03   62.855900   62.855900   62.855900
3              3      3  2018-01-04   63.563900   63.563900   63.563900
4              4      4  2018-01-05   63.984699   63.984699   63.984699
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  154.979004  154.979004  154.979004
1578        1578   1584  2024-06-05  160.356995  160.356995  160.356995
1579        1579   1585  2024-06-06  162.574997  162.574997  162.574997
1580        1580   1586  2024-06-07  165.285004  165.285004  165.285004
1581        1581   1587  2024-06-10  165.934998  165.934998  165.934998

           close    adjclose  volume
0      62.562500   62.562500     0.0
1      62.551800   62.551800     0.0
2      62.855900   62.855900     0.0
3      63.563900   63.563900     0.0
4      63.984699   63.984699     0.0
...          ...         ...     ...
1577  154.979004  154.979004     0.0
1578  160.356995  160.356995     0.0
1579  162.574997  162.574997     0.0
1580  165.285004  165.285004     0.0
1581  165.934998  165.934998     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date        open        high         low
0              0      0  2018-01-01   49.997002   49.997002   49.997002  \
1              1      1  2018-01-02   49.740002   49.740002   49.740002
2              2      2  2018-01-03   49.820000   49.820000   49.820000
3              3      3  2018-01-04   50.280998   50.280998   50.280998
4              4      4  2018-01-05   50.716000   50.716000   50.716000
...          ...    ...         ...         ...         ...         ...
1577        1577   1583  2024-06-04  128.690994  128.690994  128.690994
1578        1578   1584  2024-06-05  133.628006  133.628006  133.628006
1579        1579   1585  2024-06-06  135.634003  135.634003  135.634003
1580        1580   1586  2024-06-07  138.237000  138.237000  138.237000
1581        1581   1587  2024-06-10  138.835007  138.835007  138.835007

           close    adjclose  volume
0      49.997002   49.997002     0.0
1      49.740002   49.740002     0.0
2      49.820000   49.820000     0.0
3      50.280998   50.280998     0.0
4      50.716000   50.716000     0.0
...          ...         ...     ...
1577  128.690994  128.690994     0.0
1578  133.628006  133.628006     0.0
1579  135.634003  135.634003     0.0
1580  138.237000  138.237000     0.0
1581  138.835007  138.835007     0.0

[1582 rows x 9 columns]
      Unnamed: 0  index        date       open       high        low
0              0      0  2018-01-01  25.200001  25.200001  25.200001  \
1              1      1  2018-01-02  25.150000  25.150000  25.150000
2              2      2  2018-01-03  25.280001  25.280001  25.280001
3              3      3  2018-01-04  25.510000  25.510000  25.510000
4              4      4  2018-01-05  25.629999  25.629999  25.629999
...          ...    ...         ...        ...        ...        ...
1577        1577   1583  2024-06-04  60.169998  60.169998  60.169998
1578        1578   1584  2024-06-05  62.270000  62.270000  62.270000
1579        1579   1585  2024-06-06  63.270000  63.270000  63.270000
1580        1580   1586  2024-06-07  64.330002  64.330002  64.330002
1581        1581   1587  2024-06-10  64.419998  64.419998  64.419998

          close   adjclose  volume
0     25.200001  25.200001     0.0
1     25.150000  25.150000     0.0
2     25.280001  25.280001     0.0
3     25.510000  25.510000     0.0
4     25.629999  25.629999     0.0
...         ...        ...     ...
1577  60.169998  60.169998     0.0
1578  62.270000  62.270000     0.0
1579  63.270000  63.270000     0.0
1580  64.330002  64.330002     0.0
1581  64.419998  64.419998     0.0

[1582 rows x 9 columns]

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
# Original date string
path = f"D:/PROJECT/Visualizing/data/LargeCap/Nippon_India_Large_Cap_Fund.csv"
data = pd.read_csv(f'{path}')
# Original date string

new_date = np.array([])
for i in range(len(data)):
    date_str = data.iloc[i].date

# Parse the date string into a datetime object
    date_obj = datetime.strptime(str(date_str), '%Y-%m-%d')

# Format the datetime object into the desired format
    new_date = np.append(new_date, date_obj.strftime('%d-%b-%Y'))
    
data.drop(['date'], axis=1, inplace = True)
data['date'] = new_date

In [18]:
print(data)

      Unnamed: 0  index       open       high        low      close
0              0      0  25.200001  25.200001  25.200001  25.200001  \
1              1      1  25.150000  25.150000  25.150000  25.150000
2              2      2  25.280001  25.280001  25.280001  25.280001
3              3      3  25.510000  25.510000  25.510000  25.510000
4              4      4  25.629999  25.629999  25.629999  25.629999
...          ...    ...        ...        ...        ...        ...
1577        1577   1583  60.169998  60.169998  60.169998  60.169998
1578        1578   1584  62.270000  62.270000  62.270000  62.270000
1579        1579   1585  63.270000  63.270000  63.270000  63.270000
1580        1580   1586  64.330002  64.330002  64.330002  64.330002
1581        1581   1587  64.419998  64.419998  64.419998  64.419998

       adjclose  volume         date
0     25.200001     0.0  01-Jan-2018
1     25.150000     0.0  02-Jan-2018
2     25.280001     0.0  03-Jan-2018
3     25.510000     0.0  04-Jan-2018
4     25.629999     0.0  05-Jan-2018
...         ...     ...          ...
1577  60.169998     0.0  04-Jun-2024
1578  62.270000     0.0  05-Jun-2024
1579  63.270000     0.0  06-Jun-2024
1580  64.330002     0.0  07-Jun-2024
1581  64.419998     0.0  10-Jun-2024

[1582 rows x 9 columns]

In [1]:
from visualizing_mutual_fund import *
from util import *
from products import *
visual().get_data()

Files have been saved to D:/PROJECT/Visualizing/data